:host{
    display: flex;
}


.returned-programs,
.query-inputs {
    min-height: 55vh;
    flex-basis: 40%;
}

.returned-programs {
    border-left: solid lightgrey 2px;
    border-right: solid lightgrey 2px;
    flex-basis: 60%;
    padding-left: 1em;
    width: 300px;
}

.returned-programs
.mat-list-icon {
    color: darkorange;
}