<mat-list [attr.id]="'type' + '-question-list'">

  <div class="flex flex-justify flex-center header"
      draggable="true"
      (dragstart)="dragStart(type + '-container', $event)"
      (dragenter)="dragEnter(type + '-container', $event)"
      (dragover)="dragOver(type + '-container', $event)"
      (dragleave)="dragLeave(type + '-container')"
      (drop)="drop(type + '-container', $event)" 
      [attr.id]="type === constant_type ? 'constant_container' : 'conditional_container'"
      [ngClass]="containerClasses">
    <h3 mat-subheader *ngIf="type === constant_type">Screener Questions</h3>
    <h3 mat-subheader *ngIf="type === conditional_type">Conditional Questions</h3>
    <button class="col-2" mat-mini-fab (click)="handleAddQuestion()">
      <i class="material-icons">add</i>
    </button>
  </div>

  <mat-divider></mat-divider>
  <div *ngFor="let id of questions" class="question-item" [ngClass]="classes[id]" 
      [attr.id]="type === constant_type ? id + '-constant-list-item' : id + '-conditional-list-item'"
      draggable="true"
      (dragstart)="dragStart(id, $event)"
      (dragenter)="dragEnter(id, $event)"
      (dragover)="dragOver(id, $event)"
      (dragleave)="dragLeave(id)"
      (drop)="drop(id, $event)"
      (dragend)="dragEnd($event)">
    <mat-list-item class="col-12"
        *ngIf="form.get(id) !== null" 
        [formGroup]="form.get(id)"
        (click)="handleSelect(form.get([id, 'id'])?.value)">
      <mat-icon mat-list-avatar *ngIf="form.get([id, 'expandable'])?.value && type === constant_type" [style.width]="'1em'">content_copy</mat-icon>
      <mat-icon mat-list-avatar *ngIf="!form.get([id, 'expandable'])?.value && type === constant_type" [style.width]="'1em'"></mat-icon>
      
      
      <h4 mat-line>{{ form.get([id, 'label'])?.value }}</h4>
      <p mat-line *ngIf="form.get([id, 'expandable'])?.value && type === constant_type">
        [+] {{ form.get([id, 'conditionalQuestions'])?.value.length }} hidden question(s) 
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
