:443,
:80,
0.0.0.0:80 {
  tls off #internal service

  proxy /api {$API_SERVICE}:{$API_PORT}
  proxy /protected {$API_SERVICE}:{$API_PORT}
  proxy /data {$API_SERVICE}:{$API_PORT}

  basicauth /protected {$ADMIN_USERNAME} {$ADMIN_PASSWORD}
  basicauth /data {$ADMIN_USERNAME} {$ADMIN_PASSWORD}

  rewrite /home to /index.html

  rewrite /browse-programs {
    r  (\w+)
    to /index.html?path=browse-programs&subPath={1}
  }

  rewrite /about {
    to /index.html?path=about
  }

  rewrite /master-screener/questions {
    to /index.html?path=master-screener&subPath=questions
  }

  rewrite /master-screener/results/details {
    r  (\w+)
    to /index.html?path=master-screener&subPath=results&detail={1}
  }

  rewrite /master-screener/results {
    to /index.html?path=master-screener&subPath=results
  }

  rewrite /quick-links {
    to /index.html?path=quick-links
  }

  rewrite /admin {
    to /index.html?path=admin
  }

  errors {
    404 /index.html
  }
}
