<mat-card>
  <mat-card-actions>
    <button mat-button routerLink="/admin/programs/application-edit/{{program.guid}}" matTooltip="edit queries"><i class="material-icons">content_copy</i></button>
    <button mat-button routerLink="/admin/programs/edit/{{program.guid}}" matTooltip="edit details"><i class="material-icons">create</i></button>
    <button class="delete-program-button" mat-button (click)="delete.emit(program.guid)" matTooltip="delete program"><i class="material-icons">clear</i></button>
  </mat-card-actions>

    <mat-card-title>
       <span>{{program.user.title}}</span>
       <span matTooltip="program details" (click)="detailView(program.guid)"><mat-icon>import_contacts</mat-icon></span>
    </mat-card-title>
    <mat-card-subtitle> uploaded on: {{ program.user.created | date}}</mat-card-subtitle>
    <mat-card-content>{{ program.user.description }}</mat-card-content>
    <mat-card-subtitle>
      link: {{ program.user.externalLink }}
    </mat-card-subtitle>
    <div class="p1"></div>
    <div class="clearfix flex">
      <div 
        class="col-2 border bg-silver black center rounded mr1 mat-show"
        *ngFor="let tag of program.user.tags">
        {{tag}}
      </div>
    </div>
</mat-card>
