mat-card {
  font-family: 'Open Sans', sans-serif;
  min-height: 30vh;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
}

mat-card-title > span > mat-icon {
  cursor: pointer;
}

mat-card-title > span > mat-icon:hover {
  color: darkorange;
}

mat-card-actions {
  position: relative;
  width: 100%;
  border-bottom: dashed 1px darkorange;
}

mat-card-actions > button[mat-button]:hover {
  color: darkorange;
}

mat-card-content {
  width: 100%;
  min-height: 4vh;
  overflow-y: hidden;
  background-color: lightgray;
  padding: 2px 2px;
  font-weight: bold;
  font-size: large;
}

.delete-program-button {
  position: absolute;
  right: 1em;
}