<section *ngIf="!loading">
  <div class="flex flex-column flex-center" [@fadeinAndOut]="fade" (@fadeinAndOut.done)="handleFadeDone($event)">
    <app-program-list [programs]="filteredPrograms"> </app-program-list>
  </div>

  <div *ngIf="filteredPrograms.length === 0" class="center">
    <p> sorry, <strong> no </strong> programs were found
  </div>
</section>

<section class="loading-section" *ngIf="loading">
  <md-progress-spinner color="primary" mode="indeterminate"></md-progress-spinner>
</section>