<div [ngClass]="styleClass">
  <table style="width:80%;" (click)="edit.emit(query.id)">
    <colgroup span="4">
      <col style="width: 25%;">
      <col style="width: 25%;">
      <col style="width: 25%;">
      <col style="width: 25%;">
    </colgroup>
    <thead class="border-bottom">
      <tr>
        <th>Key</th>
        <th>Type</th>
        <th>Qualifier</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let condition of query.conditions">
        <td>{{condition.key.name}}</td>
        <td>{{condition.key.type}}</td>
        <div [ngSwitch]="condition.qualifier">
          <td *ngSwitchCase="'lessThan'"> &lt; </td>
          <td *ngSwitchCase="'lessThanOrEqual'"> &lt;= </td>
          <td *ngSwitchCase="'equal'"> = </td>
          <td *ngSwitchCase="'greaterThanOrEqual'"> &gt;= </td>
          <td *ngSwitchCase="'greaterThan'"> &gt; </td>
          <td *ngSwitchDefault></td>
        </div>
        <td>{{condition.value}}</td>
      </tr>
    </tbody>
  </table>
  <div style="width: 5%">
    <button md-button color="primary" (click)="edit.emit(query.id)">
      <i class="material-icons">edit</i>
    </button>
  </div>
  <div class="px2"></div>
  <div style="width: 5%">
    <button md-button color="warn" (click)="handleDelete(query.id)">
      <i class="material-icons">clear</i>
    </button>
  </div>
</div>