<div class="wrapper" *ngIf="(program | async) as program; else showError">
    <mat-card>
        <mat-card-header>

            <mat-card-title>
                <button mat-icon-button  (click)="close()">
                    <mat-icon matTooltip="back" matTooltipPosition="above" class="mat-24">arrow_back</mat-icon>
                </button>
                {{ program.title }}
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div [innerHTML]="program.details"></div>
            
        </mat-card-content>


        <mat-card-actions>
            <button mat-icon-button  (click)="close()">
                <mat-icon matTooltip="back" matTooltipPosition="above" class="mat-24">arrow_back</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

</div>

<ng-template #showError>
    {{ error }}
</ng-template>
