app-overview-controls {
  padding-top: 2em;
}

.program-list-container {
  padding-bottom: 5em;
  width: 50%;
  margin: 2em auto 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.program-list-container > .program {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-top: 5em;
}

.program-list-container > .program > app-program-detail {
  width: 80%;
}

.program-list-container > .program > app-program-detail-control {
  width: 15%;
  margin-left: 2%;
}

.empty-statement {
  display: flex;
  width: 50%;
  margin: 0 auto;
  background-color: coral;
  margin-top: 3em;
}

.empty-statement > div {
  text-align: center;
  vertical-align: middle;
  font-size: 125%;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
}



md-progress-spinner {
  margin: 2em auto 0 auto;
  width: 33%;
}


#program-count {
  padding: 1em;
  background-color: whitesmoke;
  border: solid 1px lightgrey;
  border-radius: 2px;
}



