@media screen and (max-width: 1400px){
  main{
    width: 90%;
    margin: 2vh auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1400px) {
  main{
    width: 60%;
    margin: 2vh auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}



#editable-area {
  margin-top: 2em;
  flex-grow: 2;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: dashed darkorange 3px;
  padding: 3em;
}

mat-card-header {
  position: relative;
  width: 100%;
}

mat-icon#delete-program {
  position: absolute;
  right: 1em;
  cursor: pointer;
}

mat-icon#save-program {
  position: absolute;
  right: 5em;
  cursor: pointer;
}

mat-icon#edit-queries {
  position: absolute;
  right: 9em;
  cursor: pointer;
}

mat-icon:hover {
  color: darkorange;
}

mat-card-actions {
  height: 35px;
}

mat-form-field {
  padding: 2px;
}


quill-editor {
  border: solid 1px lightslategray;
  min-width: 90%;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}