<main *ngIf="program | async; else loadingScreen; let program">
    <md-card id="overview">
        <md-card-header>
            <md-card-title> <h3>{{ program.data.title }} </h3></md-card-title>
            <md-card-subtitle>last updated: {{ ( program.data.created | date ) }} </md-card-subtitle>
            <md-icon
                    mdTooltip="delete program"
                    id="delete-program"
                    (click)="handleDeleteClick()"> clear </md-icon>
            <md-icon
                    id="save-program"
                    mdTooltip="save program queries"
                    (click)="handlSaveClick()">save</md-icon>
            <md-icon
                    id="edit-queries"
                    mdTooltip="edit program queries"
                    (click)="handleQueryClick()">content_copy</md-icon>
        </md-card-header>
    </md-card>

    <form novalidate id="editable-area" [formGroup]="program._form">

        <app-edit-row [icon]="'public'" [tooltip]="'Give the program an appropriate title'">
            <md-input-container>
                <input mdInput formControlName="title" placeholder="program title"/>
            </md-input-container>
        </app-edit-row>

        <app-edit-row [icon]="'subject'" [tooltip]="'Write a one line description.'">
            <md-input-container [style.width]="'100%'">
                <input mdInput formControlName="description" placeholder="program description"/>
            </md-input-container>
        </app-edit-row>

        <app-edit-row [icon]="'create'" [tooltip]="'Write a more detailed overview.'">
            <textarea id="program-details" rows="10" cols="50" name="details"  mdInput formControlName="details">
                {{program.data.details }}
            </textarea>
        </app-edit-row>

        <app-edit-row [icon]="'links'" [tooltip]="'Links that will appear in the details popup'">
            <app-details-links [links]="program._form.get('detailLinks')"> </app-details-links>
        </app-edit-row>


        <app-edit-row [icon]="'link'" [tooltip]="'Every program can have an external link'">
            <md-input-container id="link">
                <span mdPrefix> http:// </span>
                <input mdInput placeholder="www.link.ca" prefix formControlName="externalLink"/>
            </md-input-container>
        </app-edit-row>

        <app-edit-row [icon]="'label'" [tooltip]="'tag the program with a category'">
            <app-tag-edit [tags]="program._form.get('tags')"></app-tag-edit>
        </app-edit-row>

    </form>
</main>

<ng-template #loadingScreen>loading...</ng-template>