<main *ngIf="program | async; else loadingScreen; let program">
    <mat-card id="overview">
        <mat-card-header>
            <mat-card-title> <h3>{{ program.data.title }} </h3></mat-card-title>
            <mat-card-subtitle>last updated: {{ ( program.data.created | date ) }} </mat-card-subtitle>
            <mat-icon
                    matTooltip="delete program"
                    id="delete-program"
                    (click)="handleDeleteClick()"> clear </mat-icon>
            <mat-icon
                    id="save-program"
                    matTooltip="save program details"
                    (click)="handlSaveClick()">save</mat-icon>
            <mat-icon
                    id="edit-queries"
                    matTooltip="edit program queries"
                    (click)="handleQueryClick()">content_copy</mat-icon>
        </mat-card-header>
    </mat-card>

    <form novalidate id="editable-area" [formGroup]="program._form">

        <app-edit-row [icon]="'public'" [tooltip]="'Give the program an appropriate title'">
            <mat-form-field>
                <input matInput formControlName="title" placeholder="program title"/>
            </mat-form-field>
        </app-edit-row>

        <app-edit-row [icon]="'subject'" [tooltip]="'Write a one line description.'">
            <mat-form-field [style.width]="'100%'">
                <input matInput formControlName="description" placeholder="program description"/>
            </mat-form-field>
        </app-edit-row>

        <app-edit-row [icon]="'create'" [tooltip]="'Write a more detailed overview.'">
            <textarea id="program-details" rows="10" cols="50" name="details"  matInput formControlName="details">
                {{program.data.details }}
            </textarea>
        </app-edit-row>

        <app-edit-row [icon]="'links'" [tooltip]="'Links that will appear in the details popup'">
            <app-details-links [links]="program._form.get('detailLinks')"> </app-details-links>
        </app-edit-row>


        <app-edit-row [icon]="'link'" [tooltip]="'Every program can have an external link'">
            <mat-form-field id="link">
                <span matPrefix> http:// </span>
                <input matInput placeholder="www.link.ca" prefix formControlName="externalLink"/>
            </mat-form-field>
        </app-edit-row>

        <app-edit-row [icon]="'label'" [tooltip]="'tag the program with a category'">
            <app-tag-edit [tags]="program._form.get('tags')"></app-tag-edit>
        </app-edit-row>

    </form>
</main>

<ng-template #loadingScreen>loading...</ng-template>
