<main *ngIf="program | async; else loadingScreen; let program">
    <mat-card id="overview">
        <mat-card-header>
            <mat-card-title> <h3>{{ program.data.title }} </h3></mat-card-title>
            <mat-card-subtitle>last updated: {{ ( program.data.created | date ) }} </mat-card-subtitle>
            <mat-icon
                    matTooltip="delete program"
                    id="delete-program"
                    (click)="handleDeleteClick()"> clear </mat-icon>
            <mat-icon
                    id="save-program"
                    matTooltip="save program details"
                    (click)="handlSaveClick()">save</mat-icon>
            <mat-icon
                    id="edit-queries"
                    matTooltip="edit program queries"
                    (click)="handleQueryClick()">content_copy</mat-icon>
        </mat-card-header>
    </mat-card>

    <form novalidate id="editable-area" [formGroup]="program._form">

        <app-edit-row [icon]="'public'" [tooltip]="'Give the program an appropriate title'">
            <mat-form-field>
                <input matInput formControlName="title" placeholder="program title"/>
            </mat-form-field>
        </app-edit-row>

        <app-edit-row [icon]="'subject'" [tooltip]="'Write a one line description'">
            <mat-form-field [style.width]="'100%'">
                <input matInput formControlName="description" placeholder="program description"/>
            </mat-form-field>
        </app-edit-row>

        <app-edit-row [icon]="'create'" [tooltip]="'Write more details about the program'">
            <quill-editor matInput id="program-details" formControlName="details" [modules]="quillModules" [placeholder]="quillPlaceholder"></quill-editor>
        </app-edit-row>

        <app-edit-row [icon]="'label'" [tooltip]="'Tag the program with a category'">
            <app-tag-edit [tags]="program._form.get('tags')" [allTags]="allTags"></app-tag-edit>
        </app-edit-row>

    </form>
</main>

<ng-template #loadingScreen>loading...</ng-template>
