app-condition-edit-v3 {
  margin: 1em 0;
}

#header {
  white-space: nowrap;
}

#save-btn {
  margin-left: 4vw;
}

#new-condition-btn {
  margin-left: 2vw;
}

#conditions {
  display: flex;
  flex-direction: column;
  border-top: lightgrey 1px solid;
  margin-top: 1em;
}

main {
  border: dashed 1px darkorange;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 3em;
}

h3 {
  margin-left: 1em;
}

.ng-invalid {
  color: red;
  border: 1px solid red;
}