<app-bread-crumb>
</app-bread-crumb>

<md-progress-bar mode="indeterminate" color="warn" *ngIf="saving"></md-progress-bar>
<section class="key-edit-container">
  <div class="flex flex-center">
    <div class="col-2"></div>
    <md-input-container class="col-4"> 
      <input mdInput placeholder="key name" [formControl]="nameControl">
    </md-input-container>
    <div class="col-2"></div>
    <md-button-toggle-group [formControl]="typeControl">
      <md-button-toggle *ngFor="let option of typeOptions" [value]="option">
          {{ option }}
      </md-button-toggle>
    </md-button-toggle-group>
  </div>
</section>
<div class="py2"></div>
<div class="flex flex-center col-12">
  <div class="col-2"></div>
  <button class="col-4"
    md-raised-button color="primary" 
    [disabled]="!(form.valid && uniqueKeyName) ? true : null"
    (click)="dispatchKeyUpdate()">
    SAVE
  </button>
  <div class="col-1" *ngIf="form.valid && !uniqueKeyName">
    <strong>Pick a unique key name.</strong>
  </div>
  <div class="col-1"></div>
  <button class="col-4"
    md-raised-button color="warn" 
    (click)="handleCancel()">
    CANCEL
  </button>
</div>
