
<div id="preface">
    <h3 > Eligibility Screener </h3>
</div>


<div id="statement">
    <p>YouCanBenefit can be used to find out what benefits you are eligible for right now. It can also be used to plan ahead by finding out what benefits you might be able to get in the future if your life changes. Feel free to submit this questionnaire as many times as you like to explore different possibilities.</p>
</div>

<main *ngIf="!loading" [@flyinHalf]>
    <div *ngIf="errorMessage" class="center"> <strong>{{errorMessage}} </strong></div>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="errorMessage.length === 0 && screenerQuestions.length > 0">

        <div class="questions">
            <app-ycb-question
                *ngFor="let screenerQuestion of screenerQuestions"
                [screenerQuestion]="screenerQuestion"
                [conditionalQuestions]="gatherConditionals(screenerQuestion)"
                [form]="form"
                (onExpand)="addControls($event)"
                (onHide)="removeControls($event)">
            </app-ycb-question>
        </div>


        <button
            id="submit-button"
            mat-raised-button
            type="submit"
            matTooltip="Click to submit your information."
        >
            <span>SUBMIT</span>
            <mat-icon>send</mat-icon>
        </button>


    </form>
    <div class="center" *ngIf="errorMessage.length === 0 && screenerQuestions.length === 0"><strong>There are no questions available</strong></div>
</main>

<div *ngIf="loading">
    <mat-progress-spinner style="margin: 10vh auto 0 auto" *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-spinner>
</div>
