<mat-card class="program-width">

    <div class="program-title-row" matTooltip="program details" matTooltipPosition="left">
      <mat-icon>content_copy</mat-icon>
      <a [routerLink]="['./details' + '/' + program.guid]">
        <mat-card-title class="title"> {{program?.title}} </mat-card-title>
      </a>
    </div>

  <mat-card-content>
      <p>{{ program?.description }} </p>
      <div>
        <p> <a [routerLink]="['./details' + '/' + program.guid]"> details </a>
      </div>
  </mat-card-content>
  <a 
    *ngIf="program.externalLink?.length"
    matTooltip="{{ program.externalLink }}"
    href="http://{{ program.externalLink }}" 
    target="_blank">
    more information
  </a>
  <mat-card-actions>
    <button mat-button
      *ngFor="let tag of program?.tags" 
      routerLink="/browse-programs/{{tag}}"
      routerLinkActive="active"> {{tag}} </button>
  </mat-card-actions>
</mat-card>
