<div class="my-container">
    <main>
        <table>
            <colgroup span="3">
                <col style="width: 10%;">
                <col style="width: 80%;">
                <col style="width: 10%;">
            </colgroup>
            <tbody>
                <tr *ngFor="let document of page.documents">
                    <td>
                        <span *ngIf="editMode">
                            <button class="edit-button" mat-button matTooltip="edit" (click)="editDocument(document.guid)"><i class="material-icons">create</i></button>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="editingDocument === document.guid">
                            <span class="editor">
                                    <quill-editor [modules]="quillModules" [(ngModel)]="document.content" [sanitize]="true" (onEditorCreated)="editorCreated($event)"></quill-editor>
                            </span>
                        </span>
                        <span *ngIf="editingDocument !== document.guid">
                                <span [innerHTML]="document.content"></span>
                        </span>
                        <hr>
                    </td>
                    <td>
                        <span *ngIf="editMode">
                            <button class="delete-button" mat-button matTooltip="delete" (click)="deleteDocument(document.guid)"><i class="material-icons">delete</i></button>
                        </span>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <div style="text-align: center" *ngIf="editMode">
            <button class="add-button" mat-mini-fab (click)="addDocument()">
                    <i class="material-icons">add</i>
            </button>
        </div>
    </main>

    <div class="actions">
        <div *ngIf="!editMode && showEditButton">
            <button class="action-button" mat-raised-button (click)="toggleEditMode()" color="primary">edit page</button>
        </div>
            <div *ngIf="editMode">
            <button class="action-button" mat-raised-button (click)="toggleEditMode()" color="primary">preview</button>
            <button class="action-button" mat-raised-button (click)="savePage()" color="primary">save</button>
            <button class="action-button" mat-raised-button (click)="cancel()" color="primary">cancel</button>
        </div>
    </div>
</div>
