:host {
    width: 100%;
    margin-top: 2em;

}
main {
    background-color: lightgoldenrodyellow;
    width: 90%;
}

.add-button {
    background-color: #ff8c00;
    margin: 0 auto;
}

.my-container {
    display: flex;
    justify-content: space-around;
}

.my-container > main {
    width: 55%;
    display: flex;
    margin: 2vh 1vw 2vh 17vw;
    flex-direction: column;
    position: relative;
  }

.my-container > .actions {
    margin: 2vh auto;
    position: relative;
}

.action-button {
    width: 8em;
    margin: 2vh auto;
    display: block;
}

@media(min-width: 52em) {
    section {
        width: 50%;
    }
}


@media(min-width: 40em) and (max-width: 52em) {
    section {
        width: 70%;
    }
}

@media(max-width: 40em){

    section {
        width: 90%;
    }
}