:host {
    width: 100%;
    margin-top: 2em;

}
main {
    background-color: lightgoldenrodyellow;
    width: 90%;
}

.add-button {
    background-color: #ff8c00;
    margin: 0 auto;
}

.my-container {
    display: flex;
    justify-content: space-around;
}

.my-container > main {
    width: 70%;
    display: flex;
    margin: 2vh 1vw 2vh 8vw;
    flex-direction: column;
    position: relative;
  }

.my-container > .actions {
    margin: 2vh 17vh 2vh 0;
    /* position: relative; */
}

.action-button {
    width: 8em;
    margin: 2vh auto;
    display: block;
}

.quill-editor-display {
    margin: 1vh auto;
}