<main class="home" >

    <img src="/assets/logo.svg" class="logo-image">


    <div class="ribbon">
        <span> <a routerLink="/browse-programs/all/details/x5ifl7j8p614c26xohEfHw6DPK">COVID-19 SUPPORT</a> </span>
    </div>

    <section class="link-container" [@fadein]>
        <section class="feature-description">
            <p>Answer a few questions to find benefits you could apply for.</p>
            <a routerLink="/master-screener/questions">
                <button mat-raised-button ><mat-icon>view_module</mat-icon>Start</button>
            </a>
        </section>

        <section class="feature-description">
            <p>See benefits for people in Edmonton.</p>
            <a routerLink="/browse-programs/all">
                <button mat-raised-button ><mat-icon>web</mat-icon> Browse</button>
            </a>
        </section>

        <section class="feature-description">
            <p>Documents & Additional Resources</p>
            <a routerLink="/resources">
                <button mat-raised-button ><mat-icon>library_books</mat-icon>  View</button>
            </a>
        </section>

        <app-ie-sucks *ngIf="isIE"></app-ie-sucks>
    </section>
</main>
