<main class="home" >

    <img src="/assets/logo.svg" class="logo-image">


    <div class="ribbon">
        <span> <a routerLink="/about">About</a> </span>
    </div>

    <section class="link-container" [@fadein]>
        <section class="feature-description">
            <p>Answer a few questions to find benefits you could apply for.</p>
            <a routerLink="/master-screener/questions">
                <button md-raised-button ><md-icon>view_module</md-icon>Start</button>
            </a>
        </section>

        <section class="feature-description">
            <p>See benefits for people in Edmonton.</p>
            <a routerLink="/browse-programs/all">
                <button md-raised-button ><md-icon>web</md-icon> Browse</button>
            </a>
        </section>

        <section class="feature-description">
            <p>Documents & Additional Resources</p>
            <a routerLink="/quick-links"  fragment="documentation">
                <button md-raised-button ><md-icon>library_books</md-icon>  View</button>
            </a>
        </section>

        <app-ie-sucks *ngIf="isIE"></app-ie-sucks>
    </section>
</main>
