<mat-card style="background-color: lightyellow;">
    <form novalidate [formGroup]="form">

        <section [ngSwitch]="screenerQuestion.controlType">

            <div *ngSwitchCase="'NumberInput'">

                <mat-card-title> {{ screenerQuestion.label }} </mat-card-title>

                <div class="py1"></div>
                <mat-form-field>
                    <input
                        type="number"
                        matInput
                        (input)="handleInput($event.target.value)"
                        [formControlName]="screenerQuestion.id"
                        placeholder="answer"
                        (keypress)="checkEnter($event)"
                    />
                </mat-form-field>

                <div class="error-container" [@error]="errorInDOM">
                    Please, answer using only a number with no spaces, commas, decimals or negaives.
                </div>
            </div>

            <div *ngSwitchCase="'Toggle'">
                <mat-card-title> {{ screenerQuestion.label }} </mat-card-title>
                <mat-button-toggle-group [formControlName]="screenerQuestion.id">
                    <mat-button-toggle value="true">
                        yes
                    </mat-button-toggle>
                    <mat-button-toggle value="false">
                        no
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>


            <div *ngSwitchCase="'NumberSelect'" placeholder="select an option">
                <mat-card-title> {{ screenerQuestion.label }} </mat-card-title>
                <mat-select [formControlName]="screenerQuestion.id" placeholder="select an option">
                   <!-- <mat-option selected disabled [value]="null"> Select an option </mat-option> -->
                    <mat-option *ngFor="let option of screenerQuestion.options" [value]="option"> {{ option }} </mat-option>
                </mat-select>
            </div>

            <div *ngSwitchCase="'Multiselect'" class="multi-select">
                <mat-card-title> {{ screenerQuestion.label }} </mat-card-title>
                <mat-list>
                    <mat-list-item class="multi-select-option" *ngFor="let question of screenerQuestion.multiSelectOptions">
                        <mat-checkbox class="multi-select-checkbox" [formControlName]="question.id"></mat-checkbox>
                        {{ question.text }}
                    </mat-list-item>
                </mat-list>
            </div>

            <div *ngSwitchDefault> <strong> {{ screenerQuestion.controlType }} is invalid </strong> </div>
        </section>
    </form>

    <div *ngIf="showQuestions"
         class="conditional-container"
         [@questionExpand]="expand"
         (@questionExpand.done)="animationDone($event)"
    >
        <app-ycb-question
            *ngFor="let expandableQuestion of conditionalQuestions"
            [screenerQuestion]="expandableQuestion"
            [form]="form">
        </app-ycb-question>
    </div>


    <div class="py1"></div>
</mat-card>
