<div class="my-container" *ngIf="(form | async) !== null">
  <section>
    <app-query-display [selected]="selected"  (edit)="selectQuery(query)" (delete)="handleDelete($event)" *ngFor="let query of (program | async).application" [query]="query.data" ></app-query-display>
  </section>

  <main>
    <md-icon routerLink="../../edit/{{data.guid}}" [replaceUrl]="true" mdTooltip="Edit description">create</md-icon>
    <header id="program-details">
      
      <h1>{{ (program | async)?.user.data?.title }} query details </h1>
      <p>{{ (program | async)?.application.length }} queries local.</p>
      <div class="actions">
        <button md-raised-button (click)="newQuery()" color="primary" title="new query">new query</button>
        <button md-raised-button disabled title="[future] new query from template">from template</button>
      </div>
    </header>

    <div id="query-edit" *ngIf="selected !== undefined">
      <app-query-edit-v3 [programQuery]="selected"> </app-query-edit-v3>
    </div>
  </main>
</div>
