#program-details {
  border: solid lightgrey 2px;
  display: flex;
  flex-direction: column;

}

#program-details > * {
  padding: 1em;
}

#program-details > div.actions {
  display: flex;
  min-width: 30%;
  max-width: 50%;
  align-content: center;
  justify-content: space-around;
}

.my-container {
  display: flex;
  justify-content: space-around;
  width: 95vw;
  margin-top: 2vh;
  min-height: 90vh;
}

.my-container > main {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
}

md-icon {
  position: absolute;
  top: 1em;
  right: 1em;
  color: steelblue;
  cursor: pointer;
}

main > #query-edit {
  margin-top: 3vh;
}