mat-icon {
  margin-right: 1em;
}

mat-button-toggle-group {
  flex: 100% 1 0;
  align-items: flex-start;
}

select {
  flex: 25% 0 0;
  margin: 10px;
}

mat-list.ng-invalid {
  background-color: lightcoral;
}

.material-icons {
  cursor: pointer;
}

.question-text {
  width: 20em;
  margin: 0 0.5em;
}

.qualifier {
  width: 4em;
  margin: 0 0.5em;
}
.value {
  width: 6em;
}
.boolean {
  height: inherit;
}

