<main [formGroup]="condition.form">
  <mat-icon matTooltip="delete condition" (click)="deleteCondition()" class="material-icons" [style.color]="'red'">clear</mat-icon>
  <select (change)="handleKeyChange($event)" [ngClass]="keyNameClasses" id="key-question-labels">
    <option disabled [value]="'invalid'"> invalid </option>
    <option *ngFor="let key of (keys | async)" [value]="key.name" [selected]="isKeySelected(key.name)">
      {{key.name}}
    </option>
  </select>

  <div [ngClass]="optional" *ngIf="getKeyType() === 'boolean'">
    <mat-button-toggle-group id="boolean-key-edit" formControlName="value">
      <mat-button-toggle [value]="true"> true </mat-button-toggle>
      <mat-button-toggle [value]="false"> false </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div [ngClass]="optional" *ngIf="getKeyType() !== 'boolean' ">
    <select formControlName="qualifier">
      <option *ngFor="let qualifier of qualifiers" [value]="qualifier.value" [selected]="isQualifierSelected(qualifier.value)"> 
        {{ qualifier.display }}
      </option>
    </select>
      
      
    <mat-form-field>
      <input matInput formControlName="value"/>
    </mat-form-field>

  </div>
</main>
