<main [formGroup]="condition.form">
  <md-icon mdTooltip="delete condition" (click)="deleteCondition()" class="material-icons" [style.color]="'red'">clear</md-icon>
  <select (change)="handleKeyChange($event)" [ngClass]="keyNameClasses">
    <option disabled [value]="'invalid'"> invalid </option>
    <option *ngFor="let key of (keys | async)" [value]="key.name" [selected]="isKeySelected(key.name)">
      {{key.name}}
    </option>
  </select>

  <div [ngClass]="optional" *ngIf="getKeyType() === 'boolean'">
    <md-button-toggle-group id="boolean-key-edit" formControlName="value">
      <md-button-toggle [value]="true"> true </md-button-toggle>
      <md-button-toggle [value]="false"> false </md-button-toggle>
    </md-button-toggle-group>  
  </div>

  <div [ngClass]="optional" *ngIf="getKeyType() !== 'boolean' ">
    <select formControlName="qualifier">
      <option *ngFor="let qualifier of qualifiers" [value]="qualifier.value" [selected]="isQualifierSelected(qualifier.value)"> 
        {{ qualifier.display }}
      </option>
    </select>
      
      
    <md-input-container>
      <input mdInput formControlName="value"/>
    </md-input-container>

  </div>
</main>