main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  height: 1em;
  width: 100%;
}

md-icon {
  flex: 10% 0 0;
}

md-button-toggle-group {
  flex: 100% 1 0;
  align-items: flex-start;
}

select {
  flex: 25% 0 0;
}

main.ng-invalid {
  border: 1px solid red;
  padding: 2px;
}

.material-icons {
  cursor: pointer;
}

.number {
  flex: 60% 0 0;
}

.boolean {
  flex: 60% 1 0;
  display: flex;
}