<div [ngClass]="styleClass">
  <table style="width:80%;" (click)="edit.emit(query.id)">
    <colgroup span="4">
      <col style="width: 25%;">
      <col style="width: 25%;">
      <col style="width: 25%;">
      <col style="width: 25%;">
    </colgroup>
    <thead class="border-bottom">
      <tr>
        <th>Question</th>
        <th>Type</th>
        <th>Qualifier</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let condition of query.conditions">
        <td>{{condition.question.text}}</td>
        <td>{{condition.question.type}}</td>
        <div [ngSwitch]="condition.qualifier">
          <td *ngSwitchCase="'lessThan'"> &lt; </td>
          <td *ngSwitchCase="'lessThanOrEqual'"> &lt;= </td>
          <td *ngSwitchCase="'equal'"> = </td>
          <td *ngSwitchCase="'greaterThanOrEqual'"> &gt;= </td>
          <td *ngSwitchCase="'greaterThan'"> &gt; </td>
          <td *ngSwitchDefault></td>
        </div>
        <td>{{condition.value}}</td>
      </tr>
    </tbody>
  </table>
  <div class="query-actions">
    <button mat-button color="warn" (click)="handleDelete(query.id)">
      <i class="material-icons">clear</i>
    </button>
    <button *ngIf="query.conditions.length" mat-button color="primary" (click)="handleCopy(query.id)">
      <i class="material-icons">content_copy</i>
    </button>
  </div>
</div>
