<mat-form-field>
  <span matPrefix> http:// </span>
  <input matInput [formControl]="linkInput" prefix placeholder="detail-link.ca"/>
</mat-form-field>
<button mat-button [attr.disabled]="!linkInput.valid">
  <mat-icon
          (click)="addLink()"
          matTooltip="add link"
          [style.color]="!linkInput.valid ? 'red' : 'green'">done</mat-icon>
</button>
<mat-chip-list class="flex-grow">
  <mat-chip (click)="removeLinkAt(i)" *ngFor="let link of links.value; let i = index">{{ link }}</mat-chip>
</mat-chip-list>
