<!-- <section class="rounded border">
  <form novalidate [formGroup]="form">
    <div [ngSwitch]="question.controlType">
      
      <div *ngSwitchCase="'NumberInput'">
        <mat-card-title id="question-label"> {{ question.label }} </mat-card-title>
          <div class="py1"></div>
        <mat-input-container>
          <input matInput [formControlName]="question.key" placeholder="input here">
        </mat-input-container>
      </div>

      <div *ngSwitchCase="'CheckBox'">
        <mat-card-title> <mat-checkbox [formControlName]="question.key"> {{ question.label }} </mat-checkbox> </mat-card-title>
      </div>


      <div *ngSwitchCase="'NumberSelect'">
        <mat-card-title id="question-label"> {{ question.label }} </mat-card-title>
        <select style="height: 3em; min-width: 50%;" [formControlName]="question.key">
          <option selected> select an option </option>
          <option *ngFor="let option of question.options"> {{ option }} </option>
        </select>
      </div>
      <div *ngSwitchDefault> <strong> {{ question.controlType }} is invalid </strong> </div>
      
    </div>
  </form>
</section>
-->
<h1>COMPONENT DEPPRECATED</h1>
