<div class="p2"></div>

    <mat-card class="bg-silver" style="width: 75%; margin: 0 auto">
      <mat-card-title class="center">LOGIN </mat-card-title>
      <mat-card-subtitle *ngIf="invalidLogin"> invalid login </mat-card-subtitle>
      <mat-card-content>
        <div class="p1"></div>
          <mat-input-container>
            <input matInput
              placeholder="username" [(ngModel)]="credentials.username">
          </mat-input-container>
        <div class="p1"></div>
          <mat-input-container>
            <input matInput
                placeholder="password" type="password" [(ngModel)]="credentials.password">
          </mat-input-container>
        <div class="p1"></div>
      </mat-card-content>
      <div *ngIf="credentials.username.length === 0 || credentials.password.length === 0">
        <button style="margin-left:25%; margin-right:25%;" disabled mat-raised-button color="primary">LOGIN</button>
      </div>
      <div *ngIf="credentials.username.length > 0 && credentials.password.length > 0">
        <button style="margin-left:25%; margin-right:25%;"  mat-raised-button color="primary" (click)="login()">LOGIN</button>
      </div>   
      <div class="p3"></div>
      <mat-progress-bar *ngIf="active" mode="indeterminate" color="accent"></mat-progress-bar>
    </mat-card>
    
