mat-card {
  font-family: 'Open Sans', sans-serif;
}

button[mat-raised-button]:not([disabled]):hover {
  background-color: pink;
  color: black;
}

input {
  width: 30vw;
}

mat-input-container{
  margin-left: 25%;
}
