div{
    margin-left: 1em;
}

mat-chip {
    padding: 0.5em;
    border-radius: 5px;
}

.active {
    background-color: darkorange;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 3em;
}

@media screen and (max-width: 600px) {
    .wrapper.large-list {
        min-height: 4.5rem;
    }
}
