::ng-deep .ql-align-center {
  text-align: center;
}
::ng-deep .ql-align-right {
  text-align: right;
}
::ng-deep .ql-align-justify {
  text-align: justify;
}
::ng-deep .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}
::ng-deep li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}
::ng-deep .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
::ng-deep li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}
::ng-deep .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}
::ng-deep li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
::ng-deep .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}
::ng-deep li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}
::ng-deep .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}
::ng-deep li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}
::ng-deep .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
::ng-deep li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}
::ng-deep .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}
::ng-deep li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}
::ng-deep .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}
::ng-deep li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}
::ng-deep .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}
::ng-deep li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}
::ng-deep .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}
::ng-deep li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}
::ng-deep .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}
::ng-deep li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}
::ng-deep .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}
::ng-deep li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}
::ng-deep .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}
::ng-deep li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}
::ng-deep .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}
::ng-deep li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}
::ng-deep .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}
::ng-deep li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}
::ng-deep .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}
::ng-deep li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}
::ng-deep .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}
::ng-deep li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}
::ng-deep .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}
