<main>
  <!-- LARGE AND MEDIUM SCREENS -->
  <div class="sm-show">
    <div class="p2"></div>
    <div class="flex">
      <span class="flex-grow"></span>
      <mat-card class="col col-6 center">
        <div class="p4"></div>
        <mat-card-title> PAGE NOT FOUND </mat-card-title>
        <mat-card-subtitle> The requested resource was not found </mat-card-subtitle>
      </mat-card>
      <span class="flex-grow"></span>
    </div>
  </div>

  <!-- SMALL SCREENS -->
  <div class="sm-hide">
    <mat-card class="center">
      <div class="p2"></div>
      <mat-card-title> PAGE NOT FOUND </mat-card-title>
      <mat-card-subtitle> The requested resource was not found </mat-card-subtitle>
    </mat-card>
  </div>
</main>
