<main>
  <!-- LARGE AND MEDIUM SCREENS -->
  <div class="sm-show">
    <div class="p2"></div>
    <div class="flex">
      <span class="flex-grow"></span>
      <md-card class="col col-6 center">
        <div class="p4"></div>
        <md-card-title> PAGE NOT FOUND </md-card-title>
        <md-card-subtitle> The requested resource was not found </md-card-subtitle>
      </md-card>
      <span class="flex-grow"></span>
    </div>
  </div>

  <!-- SMALL SCREENS -->
  <div class="sm-hide">
    <md-card class="center">
      <div class="p2"></div>
      <md-card-title> PAGE NOT FOUND </md-card-title>
      <md-card-subtitle> The requested resource was not found </md-card-subtitle>
    </md-card>
  </div>
</main>