<main class="mat-elevation-z0">
    <div class="p2"></div>
    <div class="flex">
      <span class="flex-grow"></span>
      <mat-card class="col col-6 center">
        <div class="p4"></div>
        <mat-card-title> 404 </mat-card-title>
        <div class="separator">
        <mat-card-subtitle> Sorry - the resource you have requested does not exist </mat-card-subtitle>
        <p>You may have entered an invalid URL. If you believe this to be an error, please 
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScxdY0tJJXKGAPvuCtwL23TVc72G14TCNMxsWdWdZAn57dh2g/viewform" target="_blank">
          report it.
        </a>
        </p>
        <a routerLink="/home">
          <button mat-raised-button ><mat-icon>home</mat-icon> Go to the home page</button>
        </a>
      </div>
      </mat-card>
      <span class="flex-grow"></span>
    </div>
</main>