mat-sidenav-container {
    height: 100%;
    width: 100%;
    background-color: lightgoldenrodyellow;
}

mat-sidenav {
    background-color: lightgoldenrodyellow;
}

.active-link {
    background-color: darkorange;
}

app-quick-links-content {
    width: 100%;
}

button[mat-raised-button] {
    position: fixed;
    top: 12.5vh;
    right: 2px;
    background-color: ghostwhite;
}

.content-container {
    margin-bottom: 10px;
}

.sidenav-content  {
    position: relative;
}


@media screen and (min-width: 750px) {
    .medium-to-large-view {
        display: flex;
    }

    .medium-to-large-view-content {
        max-width: 1000px;
    }

    .medium-to-large-view > .nav-list {
        position: fixed;
        height: 100vh;
        width: 200px;
        flex-shrink: 0;
        border: 1px solid lightgrey;
    }

    .medium-to-large-view  .mat-menu-item {
        line-height: 2.5rem;
        font-size: large;
        text-decoration: underline solid blue;
    }

    .medium-to-large-view  .mat-menu-item:hover {
        color: blue;
    }

    .medium-to-large-view-content {
        padding-left: 3em;
        margin-left: 200px
    }
}

@media screen and (max-width: 750px) {
    .medium-to-large-view {
        display: none !important;
    }
}
