<mat-list>
    <div
        ga-on="click"
        ga-event-category="Program"
        ga-event-action="detail"
        [attr.ga-event-label]="encodeURIComponent(program.title)"
        class="program-item"
        *ngFor="let program of programs"
        (click)="navigateToDetails(program.guid)">

        <mat-list-item>
            <h3 matLine> {{program.title}} </h3>
            <p matLine><span> {{program.description}} </span></p>
            <a matLine [routerLink]="['./details' + '/' + program.guid]">details</a>
        </mat-list-item>
        <app-list-tag-container [tags]="program.tags"></app-list-tag-container>
        <mat-divider></mat-divider>

    </div>
</mat-list>
