:host {
    background-color: transparent;
}

mat-list {
    border-left: solid lightgrey 1px;
    border-right: solid lightgrey 1px;
    width: 80vw;
    margin: 0 auto;
}

@media screen and (min-width: 75em) {
    h3 {
        font-size: xx-large !important;
    }
}

@media screen and (min-width: 37.5em) and (max-width: 75em) {
    h3 {
        font-size: x-large !important;
    }
}

@media screen and (max-width: 37.5em) {
    h3 {
        font-size: large !important;
    }

    mat-list {
        width: 98vw;
    }
}



.program-item {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}
