<main [formGroup]="form" *ngIf="form$ | async as form">
    <div id="errors-container">
        <div *ngIf="form.errors !== null" id="errors">
            <app-question-edit-error *ngFor="let error of transformErrors( form )" [error]="error">
            </app-question-edit-error>
        </div>
    </div>
    <form novalidate id="question-container" *ngIf="fadeState === 'in'" [formGroup]="form" [@fadeinAndOut]="fadeState">

        <button type="button" mat-mini-fab color="warn" (click)="deleteQuestion()">
            <mat-icon>clear</mat-icon>
        </button>

        <mat-form-field >
            <input matInput placeholder="Question Label" formControlName="label">
        </mat-form-field>

        <div class="checkbox-container" *ngIf="controlType !== 'Multiselect'">
            <mat-checkbox formControlName="expandable">
                Expandable
            </mat-checkbox>
        </div>

        <mat-select placeholder="Input Type" formControlName="controlType">
            <mat-option *ngFor="let control of CONTROL_TYPE_VALUES" [value]="control.value"> {{ control.display }} </mat-option>
        </mat-select>

        <section [formGroup]="optionForm" *ngIf="controlType === 'NumberSelect'">
            <div class="col-12 flex" >
                <mat-form-field class="col-9">
                    <input matInput placeholder="option value" formControlName="optionValue">
                </mat-form-field>
                <button class="col-2" id="option-add-button" mat-raised-button color="primary" [disabled]="!optionForm.valid ? true : null" (click)="addOption()"> ADD </button>
            </div>

            <div class="flex" id="option-chip-container">
                <mat-chip-list>
                    <mat-chip *ngFor="let option of options" (click)="spliceOption(option)">{{ option }}</mat-chip>
                </mat-chip-list>
            </div>
        </section>

        <app-mult-select-questions *ngIf="controlType === 'Multiselect'" [options]="multiQuestions" (update)="updateMultiSelect($event)"></app-mult-select-questions>
    </form>
</main>






